.profile__add-button {
    width: 150px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
@media screen and (max-width: 800px) {
    .profile__add-button {
        width: 280px;
    }
}
.profile__add-button:hover {
    opacity: 0.6;
}