.profile__pencil {
    width: 24px;
    height: 24px;
    padding-top: 39px;
    border: 1px solid white;
    background-color: black;
}
@media screen and (max-width: 800px) {
    .profile__pencil {
        padding-top: 0;
    }
}