.profile__pencil {
    width: 24px;
    height: 24px;
    position: relative;
    right: 24px;
    bottom: 10px;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .profile__pencil {
        padding-top: 0;
    }
}
.profile__pencil:hover {
    opacity: 0.6;
}