.popup__close-button {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: rgba(2, 2 , 2, 0);
    font: inherit;
    padding: 0;
    background-image: url(../../../images/close_icon.svg);
    bottom: 190px;
    left: 10px;
}
.popup__close-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 320px) {
    .popup__close-button {
        position: absolute;
        bottom: 610px;
        left: 280px;
        background-size: 20px;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 600px) and (min-width: 321px) {
    .popup__close-button {
        right: 8px;
        background-size: 20px;
        background-repeat: no-repeat;
    }
}