.popup__close-button {
    width: 32px;
    height: 32px;
    margin-bottom: 350px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: rgba(2, 2 , 2, 0);
    font: inherit;
    padding: 0;
    background-image: url(../../../images/close_icon.svg);
}
.popup__close-button:hover {
    opacity: 0.6;
}