.popup__close-button {
    width: 32px;
    height: 32px;
    margin-bottom: 350px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: black;
    font: inherit;
    padding: 0;
}
.popup__close-button:hover {
    opacity: 0.6;
}