.popup__save-button {
    margin-top: 48px;
    margin-bottom: 37px;
    width: 80%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
}
.popup__save-button:hover {
    opacity: 0.8;
}