.profile__id {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    padding-top: 20px;
}
@media screen and (max-width: 400px) {
    .profile__id {
        grid-gap: 12px;
        padding-top: 26px;
    }
    
}